<%- model_class = Provider -%>
<div class="page-header">
  <h3>Service Provider Info</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @provider.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @provider.description %></dd>
</dl>
<div class="well">
    <ul class="nav nav-list">
      <li><%= "Customers (" + @provider.customers_count.to_s + ")" %></li>
      <li><%= "Partners (" + @provider.partners_count.to_s + ")" %></li>
      <li><%= "Criteria (" + @provider.measures_count.to_s + ")" %></li>
      <li><%= "Contracts (" + @provider.contracts_count.to_s + ")" %></li>
      <li><%= "Issues (" + @provider.issues_count.to_s + ")"  %></li>
      <li><%= "Incomplete Actions (" + @provider.plans_count.to_s + ")" %></li>
    </ul>
  </div><!--/.well -->
<% if current_user.provider_id != @provider.id %>
  <%= link_to "Switch to this Service Provider","/switch/" + @provider.id.to_s, :class => 'btn btn-success'  %>
<% end %>