
<div class="tabbable">
  <ul class="nav nav-tabs">
	<li class ="active"><a href="#">Members</a></li>
	<li><a href="<%= invites_path %>">Invitations</a></li>
  </ul>
  <div class ="tab-content">
	<div class="tab-pane active" id="members">
  		<table class="table table-condensed table-striped">
		    <thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Registered</th>
		    </tr>
		    </thead>
			<tbody>
			  <% @members.each do |member| %>
			  <tr>
			    <td><%= link_to member.first_name, user_path(member.id) %></td>
		    	<td><%= link_to member.last_name, user_path(member.id)  %></td>
			    <td><%= member.email %></td>
			    <td><%= member.created_at.to_date %></td>
				</tr>
			  <% end %>
			</tbody>
		  </table>
	</div>
  </div>
