<%- model_class = Contract -%>
<div class="page-header">
  <h3>List Contracts</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:partner_id) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:expiry_date) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= Partner.find_by_id(contract.partner_id).try(:name)%></td>
        <td><%= Customer.find_by_id(contract.customer_id).try(:name) %></td>
        <td><%= contract.start_date %></td>
        <td><%= contract.expiry_date %></td>
        <td><%= contract.notes %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contract_path(contract), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contract_path(contract),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contract_path,
            :class => 'btn btn-primary' %>
