
<div class="row-fluid">	
	<div class="well span4 ">
	<div class="well well-small">
	  <strong><%= partner.name %></strong><br/>
      <%= partner.description %>
    </div>
    <span class="well well-small">
	 <%= temperature_button(partner.temperature, partner_path(partner))%>
	</span>
	<span class="well well-small">
		<%= link_to partner_path(partner), :class => 'btn btn-mini'  do %>
	        <i class=" icon-eye-open icon-large"></i>
	      <% end %> |
		<%= link_to new_partner_path(:parent_id => partner), :class => "btn btn-mini" do %>
		   <i class=" icon-sort-by-attributes-alt"></i>
		<% end %>	|
	    <%= link_to edit_partner_path(partner), :class => 'btn btn-mini' do %>
		   <i class=" icon-edit icon-large"></i>
	    <% end %>	|
	      <%= link_to partner_path(partner),
	                  :method => :delete,
	                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                  :class => 'btn btn-mini btn-danger' do %>
	        <i class=" icon-remove icon-large"></i>
	      <% end %>
    </span>

     </div>
</div>