<div class="row-fluid">	
	<div class="well span4 alert<%= temp_status(customer.temperature) %>">	
		<div>
		  <strong>
			<%if customer.temperature > 3 %>
			  <i class=" icon-warning-sign icon-large"></i>
			<% end %>
		    <%= customer.name %>
		  </strong>
		</div>
		<div><em><%= customer.description %></em></div>
	    		<div class="actions">
		          <%= link_to customer_path(customer), :class => 'btn btn-mini'  do %>
			        <i class=" icon-eye-open icon-large"></i>
			      <% end %> |
				  <%= link_to new_customer_path(:parent_id => customer), :class => 'btn btn-mini'  do %>
			        <i class=" icon-indent-right icon-large"></i>
			      <% end %> |
				  <%= link_to edit_customer_path(customer), :class => 'btn btn-mini' do %>
				    <i class=" icon-edit icon-large"></i>
				  <% end %> |
			      <%= link_to customer_path(customer),
			                  :method => :delete,
			                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                  :class => 'btn btn-mini btn-danger' do %>
			        <i class=" icon-remove icon-large"></i>
			      <% end %>
	           </div> 
	  </div>
</div>
