
<div class="row-fluid">	
	<div class="well span4 ">
	<div class="well well-small">
	  <strong><%= customer.name %></strong><br/>
      <%= customer.description %>
    </div>
    <span class="well well-small">
	 <%= temperature_button(customer.temperature, customer_path(customer))%>
	</span>
	<span class="well well-small">
		<%= link_to customer_path(customer), :class => 'btn btn-mini'  do %>
	        <i class=" icon-eye-open icon-large"></i>
	      <% end %> |
		<%= link_to new_customer_path(:parent_id => customer), :class => "btn btn-mini" do %>
		   <i class=" icon-sort-by-attributes-alt"></i>
		<% end %>	|
	    <%= link_to edit_customer_path(customer), :class => 'btn btn-mini' do %>
		   <i class=" icon-edit icon-large"></i>
	    <% end %>	|
	      <%= link_to customer_path(customer),
	                  :method => :delete,
	                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                  :class => 'btn btn-mini btn-danger' do %>
	        <i class=" icon-remove icon-large"></i>
	      <% end %>
    </span>

     </div>
</div>