
<h1>
	<%= @owner_name %>
	<small><%= @issue.content %></small>
</h1>

<%= link_to "New Item", new_issue_plan_path(@issue), id: "new_link", remote: true, :class => "btn btn-info" %>

<h3>Incomplete Action Items</h3>
<div class="plans">
 <table class="table table-striped">
   <thead>
	<tr>
	  <th>Complete</th>
	  <th>Description</th>
	  <th>Owner</th>
	  <th>Remove</th>
	</tr>
   </thead>
   <tbody  id="incomplete_plans">
  <%= render @incomplete_plans %>
   </tbody>
 </table>
</div>

<h3>Completed Action Items</h3>
<div class="plans">
 <table class="table table-striped">
   <thead>
	<tr>
	  <th>Complete</th>
	  <th>Description</th>
	  <th>Owner</th>
	  <th>Remove</th>
	</tr>
   </thead>
   <tbody  id="complete_plans">
  <%= render @complete_plans %>
  </tbody>
</table>
</div>
