<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @plan.content %>
</p>

<p>
  <b>Complete:</b>
  <%= @plan.complete %>
</p>

<p>
  <b>Contact:</b>
  <%= @plan.contact_id %>
</p>




<%= link_to 'Edit', edit_plan_path(@plan) %>
