<table class="table table-striped">
  <thead>
    <tr>
      <th>Measures</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= link_to measure_display(measure.content), measure_path(measure) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_measure_path(measure), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      measure_path(measure),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add", new_measure_path, id: "new_measure", remote: true, :class => "btn btn-info" %>